# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
ordered list
+ Python
+ R
+ SQL

some of the key takeaways from the course

**Objectives:**
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

Some of the commonly used libraries used by Data Scientists include:
ordered list 
1. numpy
2. pandas
3. siketlearn

table Data Science Tools
| Data Science Tools |
| -------------|
| Jupytor lab |
| Github |
| Apatch Spark |

### Below are a few examples of evaluating arithmetic expressions in Python
---

This a simple arithmetic expression to mutiply then add integer
---
(3*4)+5

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60
200/60

In [6]:
200/60

3.3333333333333335

## Author 

Khalid Mohamed Amlas